src/main/resources/config/WarpDrive.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="WarpDrive" xmlns="WarpDrive" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:complexType name="forElement">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="for" type="forElement" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="fillerSet" type="fillerSetElement" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="import" type="importElement" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="filler" type="fillerElement" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="structure" type="structureElement" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="metashell" type="metashellElement" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="shell" type="shellElement" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		<xs:attribute name="variable" type="xs:string" use="required" />
		<xs:attribute name="from" type="xs:string" use="optional" />
		<xs:attribute name="to" type="xs:string" use="optional" />
		<xs:attribute name="in" type="xs:string" use="optional" />
		<xs:attribute name="mods" type="xs:string" use="optional" />
	</xs:complexType>
	
	<xs:complexType name="fillerSetElement">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="for" type="forElement" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="import" type="importElement" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="filler" type="fillerElement" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		<xs:attribute name="group" type="xs:string" use="required" />
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="weight" type="xs:string" use="optional" />
		<xs:attribute name="ratio" type="xs:string" use="optional" />
		<xs:attribute name="mods" type="xs:string" use="optional" />
	</xs:complexType>
	
	<xs:complexType name="importElement">
		<xs:attribute name="group" type="xs:string" use="required" />
		<xs:attribute name="name" type="xs:string" use="optional" />
		<xs:attribute name="mods" type="xs:string" use="optional" />
	</xs:complexType>
	
	<xs:complexType name="fillerElement">
		<xs:attribute name="block" type="xs:string" use="required" />
		<xs:attribute name="metadata" type="xs:string" use="optional" />
		<xs:attribute name="weight" type="xs:string" use="optional" />
		<xs:attribute name="ratio" type="xs:string" use="optional" />
		<xs:attribute name="mods" type="xs:string" use="optional" />
	</xs:complexType>
	
	<xs:complexType name="structureElement">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="for" type="forElement" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="import" type="importElement" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="schematic" type="schematicElement" minOccurs="0" maxOccurs="1" />
			<xs:element name="metashell" type="metashellElement" minOccurs="0" maxOccurs="1" />
			<xs:element name="shell" type="shellElement" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		<xs:attribute name="group" type="xs:string" use="required" />
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="weight" type="xs:string" use="optional" />
		<xs:attribute name="ratio" type="xs:string" use="optional" />
		<xs:attribute name="mods" type="xs:string" use="optional" />
	</xs:complexType>
	
    <xs:complexType name="schematicElement">
        <xs:attribute name="group" type="xs:string" use="required" />
        <xs:attribute name="name" type="xs:string" use="optional" />
        <xs:attribute name="mods" type="xs:string" use="optional" />
    </xs:complexType>
	
	<xs:complexType name="metashellElement">
		<xs:attribute name="block" type="xs:string" use="optional" />
		<xs:attribute name="metadata" type="xs:string" use="optional" />
		<xs:attribute name="minCount" type="xs:string" use="required" />
		<xs:attribute name="maxCount" type="xs:string" use="required" />
		<xs:attribute name="minRadius" type="xs:string" use="required" />
		<xs:attribute name="relativeRadius" type="xs:string" use="required" />
		<xs:attribute name="mods" type="xs:string" use="optional" />
	</xs:complexType>
	
	<xs:complexType name="shellElement">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="for" type="forElement" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="import" type="importElement" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="filler" type="fillerElement" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="minThickness" type="xs:string" use="required" />
		<xs:attribute name="maxThickness" type="xs:string" use="required" />
		<xs:attribute name="mods" type="xs:string" use="optional" />
	</xs:complexType>
	
	
	<xs:complexType name="celestialObjectElement">
		<xs:sequence>
			<xs:element name="parent" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation xml:lang="en">
							Coordinates in parent celestial object
							Optional: when not defined, current celestial object is an hyperspace dimension.
						</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="center" type="positionElement" minOccurs="1" maxOccurs="1" />
					</xs:sequence>
					<xs:attribute name="name" type="xs:string" use="optional" />
				</xs:complexType>
			</xs:element>
			
			<xs:element name="size" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:attribute name="x" type="worldSizeType" use="required" />
					<xs:attribute name="z" type="worldSizeType" use="required" />
				</xs:complexType>
			</xs:element>
			
			<xs:element name="dimension" type="dimensionElement" minOccurs="0" maxOccurs="1" />
			
			<xs:element name="render" type="renderElement" minOccurs="0" maxOccurs="unbounded" />
			
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element name="for" type="forElement" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="celestialObject" type="celestialObjectElement" minOccurs="0" maxOccurs="unbounded" />
			</xs:choice>
		</xs:sequence>
		
		<xs:attribute name="group" type="xs:string" use="required" />
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="mods" type="xs:string" use="optional" />
	</xs:complexType>
	
	<xs:complexType name="dimensionElement">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Defines the actual game world characteristics.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element name="center" type="positionElement" minOccurs="1" maxOccurs="1" />
			<xs:element name="generate" type="generateElement" minOccurs="0" maxOccurs="unbounded" />
			<!-- <xs:element name="effects" type="effectElement" minOccurs="0" maxOccurs="unbounded" /> @TODO Not implemented -->
		</xs:sequence>
		
		<xs:attribute name="id" type="xs:int" use="required" />		
		<xs:attribute name="isProvidedByWarpDrive" type="xs:boolean" use="optional" default="false" />
		<xs:attribute name="isBreathable" type="xs:boolean" use="required" />
		<xs:attribute name="gravity" use="required">
			<xs:simpleType>
				<xs:union memberTypes="xs:double">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="none" />
							<xs:enumeration value="legacySpace" />
							<xs:enumeration value="legacyHyperspace" />
							<xs:enumeration value="normal" />
						</xs:restriction>
					</xs:simpleType>
				</xs:union>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="mods" type="xs:string" use="optional" />
	</xs:complexType>
	
	<xs:complexType name="positionElement">
		<xs:attribute name="x" type="worldPositionType" use="required" />
		<xs:attribute name="z" type="worldPositionType" use="required" />
	</xs:complexType>
	
	<xs:complexType name="renderElement">
		<xs:attribute name="red" type="xs:float" use="required" />
		<xs:attribute name="green" type="xs:float" use="required" />
		<xs:attribute name="blue" type="xs:float" use="required" />
		<xs:attribute name="alpha" type="xs:float" use="required" />
		<xs:attribute name="texture" type="xs:string" use="optional" />
		<xs:attribute name="periodU" type="xs:double" use="optional" default="0.0" />
		<xs:attribute name="periodV" type="xs:double" use="optional" default="0.0" />
		<xs:attribute name="additive" type="xs:boolean" use="optional" default="false" />
	</xs:complexType>
	
	<xs:complexType name="generateElement">
		<xs:attribute name="group" type="xs:string" use="required" />
		<xs:attribute name="ratio" type="xs:string" use="required" />
	</xs:complexType>
	
	
	<xs:simpleType name="worldSizeType">
		<xs:restriction base="xs:unsignedInt">
			<xs:maxInclusive value="2000000" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="worldPositionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Vanilla block positions is limited to +/- 30000 km.
				Vanilla entities positions are computed on simple float precision, which is 6 digits precision => 1000 km.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="-1000000" />
			<xs:maxInclusive value="1000000" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="worldGeneration">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="for" type="forElement" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="fillerSet" type="fillerSetElement" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="structure" type="structureElement" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="celestialObject" type="celestialObjectElement" minOccurs="0" maxOccurs="1" />
			</xs:choice>
			<xs:attribute name="version" type="xs:string" use="required" fixed="2" />
			<xs:attribute name="mods" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
</xs:schema>